
<table bgcolor="#f8f8f8" style="font-family:Helvetica,Arial,sans-serif;width:100%">
	<tr>
		<td align="center">
			<table id="width-table" cellspacing="0" cellpadding="0" style="max-width: 600px; width: 100%;">
				<tr>
					<td>
						<table id="lyb-main-content" cellspacing="0" cellpadding="0" style="border: 1px solid #dbdbdb; border-radius: 8px; font-size: 14px; overflow: hidden;" align="center">
							<tr>
								<td align="center" style="padding: 12px 0px;background-color: #c82506;line-height: 0;">
									<img src="https://nu.lybcdn.com/img/lybrate-logo-pure-white-small.png" style="max-width: 100%; height: auto; max-height: 30px;" />
								</td>
							</tr>
							<tr>
								<td>
									<table id="main-background" cellpadding="0" cellspacing="0" style="background-image: url(http://localhost.lybrate.com:9080/img/gold_mail/Main-Background.jpg); width: 100%; text-align: center; font-size: 18px; color: #fff;">
										<tr><td height="50"></td></tr>
										<tr>
											<td>
												<img src="http://localhost.lybrate.com:9080/img/gold_mail/LybrateGold.png" style="max-height: 100px;" />
											</td>
										</tr>
										<tr><td height="16"></td></tr>
										<tr>
											<td>
												<p>Good health made easy!</p>
											</td>
										</tr>
										<tr> <td height="20"></td> </tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table bgcolor="#fff" id="main-white-table" cellpadding="0" cellspacing="0" style="padding: 16px;">
										<tr><td height="10"></td></tr>
										<tr>
											<td align="center" style="text-align: center; color: #000;">
												<div style="color: #c82506;font-size: 16px; font-weight: 500; padding-bottom: 10px;"> Congratulations Ankit Sharma! </div>
												<div style="max-width: 65%; margin: 0 auto;"> You are now a Lybrate Gold member. We welcome you to our family where you can now enjoy limitless health privileges.</div>
											</td>
										</tr>
										<tr><td height="30" style="border-bottom: 1px solid #dbdbdb;"></td></tr>
										<tr><td height="30"></td></tr>
										<!-- membership details -->
										<tr>
											<td align="center" style="text-transform: uppercase; font-size: 16px;">
												Membership Details
											</td>
										</tr>
										<tr><td height="10"></td></tr>
										<tr>
											<td align="center">
												<table id="membership_details" border="1px" bordercolor="#fff" cellpadding="15" cellspacing="0" style="width: 100%; max-width: 90%; border-radius: 12px; border-collapse: collapse; color: #fff; text-align: center; overflow: hidden; background-image: url(http://localhost.lybrate.com:9080/img/gold_mail/Membership-Detail_Background.jpg);">
													<tr>
														<td align="center" colspan="3" style="font-size: 16px;">
															<span> 1 year Lybrate gold </span>
														</td>
													</tr>
													<tr>
														<td>
															<div>Membership ID</div>
															<div style="padding-top: 8px;">99999</div>
														</td>
														<td>
															<div>Started On</div>
															<div style="padding-top: 8px;">01/01/2020</div>
														</td>
														<td>
															<div>Valid Till</div>
															<div style="padding-top: 8px;">31/01/2020</div>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<!-- membership details end -->
										<tr><td height="30" style="border-bottom: 1px solid #dbdbdb;"></td></tr>
										<tr><td height="30"></td></tr>
										<!-- entitlements -->
										<tr>
											<td align="center" style="text-transform: uppercase; font-size: 16px;">
												Your Entitlements
											</td>
										</tr>
										<tr><td height="20"></td></tr>
										<tr>
											<td>
												<table id="entitlements" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 90%;">
													<tr>
														<td align="center" valign="top" style="width: 50%; max-width: 50%;">
															<table cellpadding="0" cellspacing="0" style="padding: 0 20px; text-align: center;">
																<tr>
																	<td align="center">
																		<div>
																			<img src="http://localhost.lybrate.com:9080/img/gold_mail/Bonus.png" alt="Bonus cash" style="max-height: 75px;" />
																		</div>
																	</td>
																</tr>
																<tr>
																	<td>
																		<p>
																			&#8377;2000 bonus lybrate cash in your lybrate account.
																		</p>
																	</td>
																</tr>
															</table>
														</td>
														<td align="center" valign="top" style="width: 50%; max-width: 50%;">
															<table cellpadding="0" cellspacing="0" style="padding: 0 20px; text-align: center;">
																<tr>
																	<td align="center">
																		<div>
																			<img src="http://localhost.lybrate.com:9080/img/gold_mail/100-Percent.png" alt="Percent cash" style="max-height: 75px;" />
																		</div>
																	</td>
																</tr>
																<tr>
																	<td>
																		<p>
																			Redeem 100% lybrate cash on any product on GoodKart.
																		</p>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr><td height="20"></td></tr>
													<tr>
														<td align="center" valign="top" style="width: 50%; max-width: 50%;">
															<table cellpadding="0" cellspacing="0" style="padding: 0 20px; text-align: center;">
																<tr>
																	<td align="center">
																		<div>
																			<img src="http://localhost.lybrate.com:9080/img/gold_mail/Lab-Test.png" alt="Lab test" style="max-height: 75px;" />
																		</div>
																	</td>
																</tr>
																<tr>
																	<td>
																		<p>
																			Flat 50% off on lab tests.
																		</p>
																	</td>
																</tr>
															</table>
														</td>
														<td align="center" valign="top" style="width: 50%; max-width: 50%;">
															<table cellpadding="0" cellspacing="0" style="padding: 0 20px; text-align: center;">
																<tr>
																	<td align="center">
																		<div>
																			<img src="http://localhost.lybrate.com:9080/img/gold_mail/Doctor-Consult.png" alt="Doctor consult" style="max-height: 75px;" />
																		</div>
																	</td>
																</tr>
																<tr>
																	<td>
																		<p>
																			Flat 50% off on online doctor consults.
																		</p>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr><td height="25"></td></tr>
										<tr>
											<td align="center">
												<a href style="min-width:120px;max-width:120px;padding:8px 16px;border-radius:4px;color:#fff;background-color:#c82506;font-size:14px;font-weight:500;text-decoration: none;display: block;">
													Know More
												</a>
											</td>
										</tr>
										<!-- entitlements end -->
										<tr><td height="30" style="border-bottom: 1px solid #dbdbdb;"></td></tr>
										<tr><td height="30"></td></tr>
										<!-- topup options -->
										<tr>
											<td>
												<table id="topup" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 90%;">
													<tr>
														<td style="text-align: center;">
															Your entitlements do not end here. We want you to be with us for long so that we can serve you well.
														</td>
													</tr>
													<tr><td height="20"></td></tr>
													<tr>
														<td align="center" style="text-transform: uppercase; font-size: 16px;">
															Top-up options for you
														</td>
													</tr>
													<tr><td height="10"></td></tr>
													<tr>
														<td>
															<table bgcolor="#f5f5f5" id="gold-exclusive" style="border-radius: 10px; width: 100%;color: #000; font-weight: 500;">
																<tr>
																	<td style="padding: 12px 0px;text-align: center;border-bottom: 1px solid #dce0e0;">
																		<span> Exclusively for <b>gold members!</b> </span>
																	</td>
																</tr>
																<tr>
																	<td>
																		<table id="lcash-details" style="width: 100%; padding: 0 14px;">
																			<tr>
																				<td style="padding: 14px 0px; border-bottom: 1px solid #dce0e0;">
																					<table style="width: 100%;">
																						<tr>
																							<td valign="top" style="text-align: left">
																								<div> &#8377;10,000 LybrateCash</div>
																								<div style="font-size: 12.5px;padding-top: 4px;"> 1 year validity</div>
																							</td>
																							<td valign="top" style="text-align: right;">
																								<div>&#8377;5,000</div>
																								<div style="margin-top: 6px;">
																									<span style="background-color: #259b24; padding: 4px 12px;color: #fff; font-size: 12px; border-radius: 4px;">
																										Best Value
																									</span>
																								</div>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td style="padding: 14px 0px; border-bottom: 1px solid #dce0e0;">
																					<table style="width: 100%;">
																						<tr>
																							<td valign="top" style="text-align: left">
																								<div> &#8377;5,000 LybrateCash</div>
																								<div style="font-size: 12.5px;padding-top: 4px;"> 1 year validity</div>
																							</td>
																							<td valign="top" style="text-align: right;">
																								<div>&#8377;3,000</div>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td style="padding: 14px 0px;">
																					<table style="width: 100%;">
																						<tr>
																							<td valign="top" style="text-align: left">
																								<div> &#8377;1,000 LybrateCash</div>
																								<div style="font-size: 12.5px;padding-top: 4px;"> 1 year validity</div>
																							</td>
																							<td valign="top" style="text-align: right;">
																								<div>&#8377;800</div>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr><td height="16"></td></tr>
													<tr>
														<td>
															<a href style="
															padding:8px 16px;
															border-radius:8px;
															color:#fff;
															background-color:#c82506;
															font-size:14px;
															font-weight:500;
															text-decoration: none;
															display: block;
															text-transform: uppercase;
															text-align: center;">
																BUY NOW
															</a>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<!-- topup options end -->
										<tr><td height="30" style="border-bottom: 1px solid #dbdbdb;"></td></tr>
										<tr><td height="30"></td></tr>
										<!-- products offered -->
										<tr>
											<td align="center" style="text-transform: uppercase; font-size: 16px;">
												Products Offered by lybrate
											</td>
										</tr>
										<tr><td height="30"></td></tr>
										<tr>
											<td align="center">
												<table id="products-offered" style="width: 100%; max-width: 90%;">
													<tr>
														<td align="center" valign="top" style="width: 33.33%;max-width: 33.33%;">
															<table style="padding: 0 16px;">
																<tr>
																	<td align="center">
																		<img style="max-height: 75px;" src="http://localhost.lybrate.com:9080/img/gold_mail/GoodKart.png" />
																	</td>
																</tr>
																<tr>
																	<td align="center">
																		<p>
																			GoodKart
																		</p>
																	</td>
																</tr>
															</table>
														</td>
														<td align="center" valign="top" style="width: 33.33%;max-width: 33.33%;">
															<table style="padding: 0 16px;">
																<tr>
																	<td align="center">
																		<img style="max-height: 75px;" src="http://localhost.lybrate.com:9080/img/gold_mail/Lab-Test.png" />
																	</td>
																</tr>
																<tr>
																	<td align="center">
																		<p>
																			Lab Test
																		</p>
																	</td>
																</tr>
															</table>
														</td>
														<td align="center" valign="top" style="width: 33.33%;max-width: 33.33%;">
															<table style="padding: 0 16px;">
																<tr>
																	<td align="center">
																		<img style="max-height: 75px;" src="http://localhost.lybrate.com:9080/img/gold_mail/Doctor-Consult.png" />
																	</td>
																</tr>
																<tr>
																	<td align="center">
																		<p>
																			Consult Online
																		</p>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<!-- products offered end -->
										<tr><td height="30" style="border-bottom: 1px solid #dbdbdb;"></td></tr>
										<tr><td height="30"></td></tr>
										<!-- FAQ -->
										<tr>
											<td align="center" style="text-transform: uppercase; font-size: 16px;">
												FAQ
											</td>
										</tr>
										<tr><td height="10"></td></tr>
										<tr>
											<td align="center">
												<table bgcolor="#f5f5f5" id="lcash-faq" style="width: 100%; max-width: 90%; border-radius: 10px; color: #000; font-weight: 500; padding: 0 16px;text-align: center;">
													<tr><td height="20"></td></tr>
													<tr>
														<td style="font-weight: 600;"> What is LybrateCash? </td>
													</tr>
													<tr><td height="10"></td></tr>
													<tr>
														<td>
															<div style="max-width: 90%; margin: 0 auto; line-height: 1.5;">
																LybrateCash is your health currency on Lybrate. With LybrateCash, you can pay for any products on GoodKart and can also pay for Online Consultation and Lab Tests.<br />Remember, ₹1 LybrateCash is equal to ₹1.
															</div>
														</td>
													</tr>
													<tr><td height="20" style="border-bottom: 1px solid #dce0e0;"></td></tr>
													<tr><td height="20"></td></tr>
													<tr>
														<td style="font-weight: 600;"> How much time will it take to credit LybrateCash joining bonus? </td>
													</tr>
													<tr><td height="10"></td></tr>
													<tr>
														<td>
															<div style="max-width: 90%; margin: 0 auto; line-height: 1.5;">
																LybrateCash will credit instantly into your wallet upon successful payment of Gold membership.
															</div>
														</td>
													</tr>
													<tr><td height="20" style="border-bottom: 1px solid #dce0e0;"></td></tr>
													<tr><td height="20"></td></tr>
													<tr>
														<td style="font-weight: 600;"> Do I need to use the Lybrate mobile app to use Lybrate Gold membership benefits? </td>
													</tr>
													<tr><td height="10"></td></tr>
													<tr>
														<td>
															<div style="max-width: 90%; margin: 0 auto; line-height: 1.5;">
																Yes, you need to download the Lybrate mobile app on your mobile phone to start using Lybrate Gold membership benefits. You can download the Lybrate app from <a href="" style="text-decoration: none;">here</a>.
															</div>
														</td>
													</tr>
													<tr><td height="20"></td></tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="30"></td></tr>
				<tr>
					<td>
						<table id="goodmd-app" bgcolor="#f6e6e7" style="width: 100%; border: 1px solid #dce0e0;border-radius: 8px;color: #000;font-weight: 500;font-size: 14px;">
							<tr><td height="20"></td></tr>
							<tr>
								<td align="center" colspan="3">
									Keep Lybrate in your pocket
								</td>
							</tr>
							<tr><td height="10"></td></tr>
							<tr>
								<td align="right" style="width: 50%; max-width: 50%;">
									<a href="https://app.appsflyer.com/id960716567?pid=Web&c=AppDownload_Home">
										<img src="https://assets.lybrate.com/q_auto,f_auto/imgs/mkting/misc/iOS_AppStore_Icon.png" />
									</a>
								</td>
								<td style="min-width: 20px;"></td>
								<td align="left" style="width: 50%; max-width: 50%;">
									<a href="https://app.appsflyer.com/com.lybrate.phoenix?pid=Web&c=AppDownload_Home">
										<img src="https://assets.lybrate.com/q_auto,f_auto/imgs/mkting/misc/Gioogle_AppStore_Icon.png" />
									</a>
								</td>
							</tr>
							<tr><td height="26"></td></tr>
						</table>
					</td>
				</tr>
				<tr><td height="30"></td></tr>
				<tr>
					<td>
						<table id="footer" style="width: 100%;color:#a9a9a9;font-size: 13px;">
							<tr>
								<td>
									<table align="center" cellspacing="5">
										<tr>
											<td>
												<a href="https://www.facebook.com/lybrate" target="_blank">
													<img src="https://static.lybrate.com/imgs/mkting/mailer/pdoc-welcome/Facebook_Icon.png" height="28" width="28" style="display:inline-block;border-radius:16px" />
												</a>
											</td>
											<td>
												<a href="https://www.linkedin.com/company/lybrate/" target="_blank">
													<img src="https://assets.lybrate.com/imgs/product/d2d/assets/linkedin-44x44.png" height="28" width="28" style="display:inline-block;border-radius:16px" />
												</a>
											</td>
											<td>
												<a href="https://twitter.com/lybrate" target="_blank">
													<img src="https://static.lybrate.com/imgs/mkting/mailer/pdoc-welcome/Twitter_Icon.png" height="28" width="28" style="display:inline-block;border-radius:16px">
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr><td height="8"></td></tr>
							<tr>
								<td align="center">
									<a href="mailto:hello@lybrate.com" style="text-decoration: none;color: inherit;">
										hello@lybrate.com
									</a>
								</td>
							</tr>
							<tr><td height="10"></td></tr>
							<tr>
								<td align="center">
									Sent with <span style="color: #c82506;">&hearts;</span> from Lybrate HQ, New Delhi
								</td>
							</tr>
							<tr>
								<td align="center" style="font-size:13px;line-height:28px">
									<span> Don't want to receive emails?</span>
									<a href="${unsubscribeUrl}" style="color: inherit;" target="_blank">Unsubscribe</a>
								 </td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="30"></td></tr>
			</table>
		</td>
	</tr>
</table>
